<div class="top">
    <h2>PROJETOS PARCEIROS</h2>
</div>


<div class="container">

    <div class="flex">

        <img src="../../assets/dog.jpg" alt="">

        <p>
            Uma das ONG´s que já estarão no site da NFG aguardando o “click”
            dos cidadãos é o Projeto Bicho de Rua. Fundada em 2004 por um grupo
            de pessoas que atuavam há mais tempo e de maneira voluntária em defesa
            do bem-estar dos animais, a entidade se prepara para realizar uma grande
            divulgação para que mais contribuintes se cadastrem ao programa. “Vamos sim
     
        </p>

    </div>

</div>