<p>integrantes works!</p>

Projeto Code Rosa

Realizar atividades de Ensino, Pesquisa e Extensão que busquem despertar em jovens estudantes do ensino médio, fundamental e superior, o interesse por cursos da área da computação, principalmente entre as mulheres.

As ações do Programa, criado em 2015, são diversificadas: minicursos e oficinas, realização de dinâmicas, palestras de estudantes e profissionais que já atuam na área e compartilham suas experiências, realização de eventos, entre outras atividades.

Em 2017, foi integrado ao Programa Meninas Digitais, que está institucionalizado pela Sociedade Brasileira de Computação (SBC)
